<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

<type name="Magento\Deploy\Service\DeployStaticContent">
        <plugin name="custom_deploy_static_content_plugin"
                type="BronzeByte\Tailwind\Plugin\DeployStaticContentPlugin"
                sortOrder="1" />
</type>
<type name="BronzeByte\Tailwind\Model\Builder">
    <arguments>
        <argument name="scopeConfig" xsi:type="object">Magento\Framework\App\Config\ScopeConfigInterface</argument>
        <argument name="storeManager" xsi:type="object">Magento\Store\Model\StoreManagerInterface</argument>
        <argument name="themeProvider" xsi:type="object">Magento\Framework\View\Design\Theme\ThemeProviderInterface</argument>
        <argument name="logger" xsi:type="object">Psr\Log\LoggerInterface</argument>
    </arguments>
</type>
</config>
